<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <link rel="stylesheet" href="./src/public/css/styleLogin.css">
    </head>

    <body>

        <div class="wrapperForm">

            <div class="title"><span>Login</span></div>

            <form action="login.html" class="login-form">

                

                <div class="row">
                    <input type="text" placeholder="Sorare Username">
                    <span date-placeholder="Username" ></span>
                </div>

                <div class="row">
                    <input type="password" placeholder="Password">
                    <span date-placeholder="Password"></span>
                </div>
                
                <div class="row button">
                    <input type="submit" class="logbtn" value="Login">
                    <div class="signup">Don't have an account ? <a href="#">Sign up</a></div>
                </div>
                       
            </form>
        </div>

    </body>
</html>